img {
    width: 200px;
    height: 200px;
}

body{
    height: 100vh;
}

/*.inicioPor{
    background-image: url("JulioApofis.github.io/assests/img/inicio.jpeg");
    background-repeat: no-repeat;
}*/

.navLogo {
    width: 100px;
    height: 50px;
}